openapi: 3.1.0
info:
  title: Akash Console Bids Leases API
  version: 1.0.0
  description: 'REST API for the managed Akash Console. Deploy workloads to the

    Akash decentralized cloud marketplace using managed wallets and

    credit-card billing, without directly managing keys or AKT.

    '
  contact:
    name: Akash Network
    url: https://akash.network
  license:
    name: Documentation Terms
    url: https://akash.network
servers:
- url: https://console-api.akash.network
  description: Akash Console API production
security:
- ApiKeyAuth: []
tags:
- name: Leases
  description: Accept bids and manage leases with providers.
paths:
  /v1/leases:
    post:
      tags:
      - Leases
      summary: Accept a bid and create a lease
      description: Accept a provider bid to create a lease that runs the deployment.
      operationId: createLease
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dseq:
                  type: string
                gseq:
                  type: integer
                oseq:
                  type: integer
                provider:
                  type: string
              required:
              - dseq
              - provider
      responses:
        '200':
          description: Lease created.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Akash Console API key passed on every request.
